{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="assets/landing.css">
<style>
body {
    background-image: url("/assets/background.png");
    background-size: cover;       /* Ensures the image covers the entire viewport */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

aside.md-source-file {
    display: none;
}

</style>
{% endblock %}


{% block container %}
<div class="md-content landing-hero" data-md-component="content">
    <article class="md-content__inner md-typeset">
    <div class="hero">
        <div class="right">
            <div class="righ-full">
            <video controls autoplay>
                <source src="assets/tapes/proxy.mp4" type="video/mp4">
                <source src="assets/tapes/proxy.webm" type="video/webm">
              </video>
            </div>
        </div>
        <div class="left">
          <div class="left-top">
                <picture>
                    <img src="/assets/lueur-inverted.svg" width="400px">
                    <cite>Let Your Resilience Glow - /lɥœʁ/</cite>
                </picture>
            </div>
            <div class="left-bottom">
                <h2>A Rust-powered CLI that simulates network disruptions right on your local machine.</h2>
    <a class="md-button md-button--primary rounded" href="/tutorials/install/">Get Started</a>
    <a class="md-button rounded" href="https://github.com/rebound-how/rebound">View on GitHub</a>
            </div>
        </div>
      </div>
    </article>
    <article class="md-content__inner md-typeset">
    {% block content %}
        {% include "partials/content.html" %}
    {% endblock %}
    </article>
</div>
{% endblock %}

{% block tabs %}
{% endblock %}

{% block site_nav %}
{% endblock %}
