---
import BaseLayout from "@/layouts/BaseLayout.astro";

const image = new URL("https://reliably.com/social.png", Astro.site);
---

<BaseLayout
  title="The Urgency for Resilience Engineering"
  description="The urgency to adopt resilience engineering is more pressing than ever."
  {image}
>
  <div class="infographic-page container">
    <div class="infographic-image">
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-01.webp"
        alt=""
        height="284"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-02.webp"
        alt=""
        height="523"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-03.webp"
        alt=""
        height="700"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-04.webp"
        alt=""
        height="908"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-05.webp"
        alt=""
        height="672"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-06.webp"
        alt=""
        height="768"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-07.webp"
        alt=""
        height="612"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-08.webp"
        alt=""
        height="364"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-09.webp"
        alt=""
        height="544"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-10.webp"
        alt=""
        height="788"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-11.webp"
        alt=""
        height="693"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-12.webp"
        alt=""
        height="307"
        width="1466"
      />
      <img
        src="/images/pages/resilience-engineering-urgency/reliably-infographic-13.webp"
        alt=""
        height="408"
        width="1466"
      />
    </div>
    <div class="infographic-download">
      <a
        href="/images/pages/resilience-engineering-urgency/reliably-resilience-engineering-urgency.pdf"
        download
      >
        Download PDF
      </a>
    </div>
    <div class="infographic-cta">
      <a
        href="/docs/getting-started/"
        class="button button--secondary"
      >
        Try Reliably
      </a>
    </div>
    <div class="infographic-transcript screen-reader-text">
      <h1>
        The Urgency For Resilience Engineering<br />
        <small>by Reliably</small>
      </h1>

      <section>
        <h2>
          Resilience is not something for later. There is urgency for it now.
        </h2>
        <p>
          The consequences of downtime and data breaches can be devastating to
          organizations, leading to substantial financial losses and irreparable
          damage to a business’s reputation.
        </p>
        <p>
          The urgency to adopt resilience engineering is more pressing than
          ever.
        </p>
      </section>
      <section>
        <h2>Why Should Organizations Care About Resilience?</h2>
        <ul>
          <li>
            98% of organizations experienced at least one outage in the past
            year.
          </li>
          <li>
            80% of customers will switch to a competitor after more than one bad
            experience.
          </li>
          <li>43% of enterprises experienced unexpected downtime monthly.</li>
          <li>
            $5,100 average cost of downtine per minute got businesses, totaling
            over $300k per hour.
          </li>
          <li>
            60% of companies go out of business within 6 months of a data
            breach.
          </li>
        </ul>
        <p>
          <strong
            >It takes about 40 positive customer experiences to undo the damage
            of a single negative review.</strong
          >
        </p>
      </section>
      <section>
        <h2>Key Benefits of Resilience Engineering Strategies</h2>
        <ul>
          <li>
            Fuelling Innovation: 58% of companies believe that learning from
            incidents leads to innovation.
          </li>
          <li>
            Predictable Recovery: Resilience engineering encourages strategies &
            procedures to optimise for recovery.
          </li>
          <li>63% fewer security breaches</li>
          <li>50% risk reduction of compliance violations</li>
          <li>35% less time spent on unplanned work</li>
        </ul>
        <p><strong>Healthy Teams = Highly Performant Organizations</strong></p>
      </section>
      <section>
        <h2>Resilience Engineering Blockers Debunked</h2>
        <dl>
          <dt>Adopting resilience engineering costs too much</dt>
          <dd>
            Tools like Reliably are built so that costs are kept to a minimum.
          </dd>
          <dt>It’s not our focus right now as a C-level strategy</dt>
          <dd>
            Organizations that consider resilience an after-thought will
            struggle long-term.
          </dd>
          <dt>This will be time consuming to implement</dt>
          <dd>
            Resilience engineering scenarios can be set up in a matter of
            seconds and tools are designed to seamlessly integrate with your
            current tech stack.
          </dd>
          <dt>Our systems & teams are too complex</dt>
          <dd>
            Tools like Reliably are intuitively simple and designed to
            intergrate with complex systems easily.
          </dd>
        </dl>
      </section>
      <section>
        <h2>How Can Organizations Adopt Resilience Engineering?</h2>
        <h3>Make it a priority</h3>
        <p>
          21% less downtime than organizations who do not make resilience
          engineering a priority.
        </p>
        <h3>Learn from failures</h3>
        <p>
          1.4 million dollars per year is the average annual cost incidents
          cause for organizations.
        </p>
        <h3>Build a cultural mindset</h3>
        <p>
          Embrace a culture of resilience within your organization, where
          proactive measures and continuous learning become the norm, instilling
          confidence in your team to handle incidents effectively.
        </p>
        <p><strong>Resilience engineering is a C-level strategy.</strong></p>
      </section>
      <section>
        <h2>Reliably Helps Resilience Engineering Adoption</h2>
        <p>
          <a href=""
            >Try Reliably</a
          >
        </p>
        <ul>
          <li>Seamless integration with your CI/CD pipelines</li>
          <li>Cost-effective for any size team to use</li>
          <li>Easy and simple implementation</li>
        </ul>
      </section>
      <section>
        <h2>Sources</h2>
        <ul>
          <li>
            Ponemon Institute (Costs and Consequences of Gaps In Vulnerability
            Response)
          </li>
          <li>Gartner (The Cost of Downtime)</li>
          <li>
            Aberdeen Strategy & Research Division (The Rising Cost of Downtime)
          </li>
          <li>IBM (Cost of a Data Breach Report)</li>
          <li>GDPR EU (Compliance Fines)</li>
          <li>Atlassian (Calculating the cost of downtime)</li>
          <li>
            Harvard Business Review (Strategies for Learning from Failure), (3
            Things You’re Getting Wrong About Organizational Change).
          </li>
          <li>Sec.Gov (The Need for Greater Focus on the Cybersecurity)</li>
          <li>
            FreshLime (How to Deal with Negative Reviews and Avoid Customer
            Disconnect)
          </li>
          <li>Xperience Group (Industry Insights)</li>
          <li>
            Statista (Global enterprise server hourly downtime cost survey)
          </li>
          <li>Zendesk (CX Trends 2023)</li>
          <li>IDC (cloud security survey)</li>
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>
