---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/_ui/PageHeader.astro";
import PageIntro from "@/components/_ui/PageIntro.astro";
import IntegrationsList from "@/components/integrations/IntegrationsList.vue";

import type { PageHeaderAction } from "@/types/ui-types";

const actions: PageHeaderAction[] = [
  {
    label: "New integration",
    to: "/integrations/new/",
  },
];
---

<BaseLayout
  title="Integrations · Reliably"
  description="A list of your Integrationss"
>
  <div class="container">
    <PageHeader title="Integrations" actions={actions} />
    <PageIntro>
      Integrations allow Reliably to communicate with your other tools
    </PageIntro>
    <section class="integrations">
      <IntegrationsList client:load />
    </section>
  </div>
</BaseLayout>
