<span class="featureNo">
  <span class="featureNo__icon"></span>
  <span class="screen-reader-text">No</span>
</span>

<style lang="scss" scoped>
.featureNo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;

  &__icon {
    display: inline-block;
    height: .3rem;
    width: 1.2rem;

    background-color: var(--grey-200);
  }
}
</style>