<span class="featureYes">
  <span class="featureYes__icon"></span>
  <span class="screen-reader-text">Yes</span>
</span>

<style lang="scss" scoped>
.featureYes {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__icon {
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;

    background-color: var(--green-600);
    border-radius: 50%;
  }
}
</style>
