<p class="pageIntro">
  <slot />
</p>

<style lang="scss" scoped>
  .pageIntro {
    margin-top: calc(-1 * var(--space-medium));
    margin-bottom: var(--space-large);
    max-width: 70ch;

    font-size: 2rem;
    font-weight: 300;
  }
</style>
