---
import type { NavLink } from "@/types/ui-types";
import { removeTrailingSlash } from "@/utils/strings";

export interface Props {
  link: NavLink;
}

const { link } = Astro.props;

const currentPath = Astro.url.pathname;
const isHeaderLinkActive = () => {
  if (link.path === "/") {
    return currentPath === "/" ? "page" : false;
  } else {
    return currentPath.startsWith(removeTrailingSlash(link.path))
      ? "page"
      : false;
  }
};
---

<a
  href={link.path}
  target={link.path.startsWith("http") ? "_blank" : "_self"}
  rel={link.path.startsWith("http") ? "noreferer noopener" : ""}
  class="productLink"
  data-before={link.label}
  aria-current={isHeaderLinkActive()}
>
  {link.label}
</a>

<style lang="scss" scoped>
  .productLink {
    position: relative;

    padding: 0.2rem 0.6rem;

    border-radius: var(--border-radius-s);

    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;

    &::before {
      content: attr(data-before);

      display: block;
      height: 1px;
      overflow: hidden;

      color: transparent;
      font-weight: 500;

      visibility: hidden;
    }

    &::after {
      content: "";

      position: absolute;
      left: 50%;
      top: calc(100% + 0rem);

      display: block;
      height: 0.4rem;
      width: 1.2rem;

      background-color: transparent;
      border-radius: 0.2rem;

      transform: translateX(-50%);
    }

    &:hover,
    &:visited {
      color: var(--text-color);
    }

    &:hover {
      background-color: var(--grey-200);

      text-decoration: none;
    }

    &[aria-current="page"] {
      color: var(--text-color-bright);
      font-weight: 500;

      &::after {
        background-color: var(--pink-500);
      }
    }
  }
</style>
