:root {
  --yellow-100: hsl(56, 100%, 95%);
  --yellow-200: hsl(56, 95%, 89%);
  --yellow-300: hsl(56, 93%, 80%);
  --yellow-400: hsl(56, 92%, 70%);
  --yellow-500: hsl(56, 91%, 49%);
  --yellow-600: hsl(56, 94%, 40%);
  --yellow-700: hsl(56, 95%, 25%);
  --yellow-800: hsl(56, 97%, 16%);
  --yellow-900: hsl(56, 100%, 10%);

  --pink-100: hsl(328.89, 100%, 94.71%);
  --pink-200: hsl(329.21, 97.44%, 84.71%);
  --pink-300: hsl(328.8, 96.9%, 74.71%);
  --pink-400: hsl(329.13, 96.65%, 64.9%);
  --pink-500: hsl(329, 97%, 55%);
  --pink-600: hsl(329.13, 79%, 42.94%);
  --pink-700: hsl(328.8, 79.62%, 30.78%);
  --pink-800: hsl(329.21, 79.17%, 18.82%);
  --pink-900: hsl(328.89, 81.82%, 6.47%);

  --green-100: hsl(71, 47%, 88%);
  --green-200: hsl(86, 45%, 76%);
  --green-300: hsl(103, 44%, 65%);
  --green-400: hsl(120, 42%, 53%);
  --green-500: hsl(137, 57%, 41%);
  --green-600: hsl(150, 59%, 33%);
  --green-700: hsl(163, 60%, 25%);
  --green-800: hsl(175, 62%, 16%);
  --green-900: hsl(189, 67%, 8%);

  --blue-100: hsl(213, 92%, 95%);
  --blue-200: hsl(210, 87%, 83%);
  --blue-300: hsl(210, 84%, 70%);
  --blue-400: hsl(209, 82%, 57%);
  --blue-500: hsl(209, 97%, 45%);
  --blue-600: hsl(209, 100%, 37%);
  --blue-700: hsl(210, 100%, 30%);
  --blue-800: hsl(209, 100%, 20%);
  --blue-900: hsl(208, 100%, 11%);

  --red-100: hsl(0, 61%, 88%);
  --red-200: hsl(0, 59%, 76%);
  --red-300: hsl(0, 58%, 65%);
  --red-400: hsl(0, 54%, 52%);
  --red-500: hsl(0, 79%, 40%);
  --red-600: hsl(0, 99%, 32%);
  --red-700: hsl(0, 100%, 26%);
  --red-800: hsl(0, 100%, 19%);
  --red-900: hsl(0, 100%, 10%);

  --sand-100: hsl(33, 82%, 89%);
  --sand-200: hsl(36, 79%, 78%);
  --sand-300: hsl(39, 76%, 66%);
  --sand-400: hsl(42, 72%, 54%);
  --sand-500: hsl(44, 95%, 42%);
  --sand-600: hsl(40, 99%, 34%);
  --sand-700: hsl(35, 100%, 25%);
  --sand-800: hsl(30, 100%, 17%);
  --sand-900: hsl(25, 100%, 9%);

  --purple-100: hsl(286, 52%, 87%);
  --purple-200: hsl(285, 50%, 75%);
  --purple-300: hsl(286, 48%, 62%);
  --purple-400: hsl(286, 47%, 50%);
  --purple-500: hsl(286, 75%, 38%);
  --purple-600: hsl(285, 84%, 32%);
  --purple-700: hsl(285, 92%, 25%);
  --purple-800: hsl(284, 100%, 20%);
  --purple-900: hsl(283, 100%, 14%);

  --grey-100: hsl(220, 27.27%, 97.84%);
  --grey-200: hsl(230, 25%, 95.29%);
  --grey-300: hsl(232.5, 22.22%, 92.94%);
  --grey-400: hsl(234.55, 22.45%, 90.39%);
  --grey-500: hsl(231.43, 22.58%, 87.84%);
  --grey-600: hsl(234.55, 7.19%, 70%);
  --grey-700: hsl(232.5, 3.25%, 51.76%);
  --grey-800: hsl(240, 2.89%, 33.92%);
  --grey-900: hsl(240, 3.7%, 15.88%);

  --gray-100: var(--grey-100);
  --gray-200: var(--grey-200);
  --gray-300: var(--grey-300);
  --gray-400: var(--grey-400);
  --gray-500: var(--grey-500);
  --gray-600: var(--grey-600);
  --gray-700: var(--grey-700);
  --gray-800: var(--grey-800);
  --gray-900: var(--grey-900);
}
