<div id="search"></div>

<!-- Algolia -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"
/>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: "4XBQ0C77C",
    apiKey: "17a324d67f431e4b8eebe9478cfab760",
    siteId: "beddbfa2-b86d-4305-8a3f-29f4b7638f3b",
    branch: "main",
    selector: "div#search",
  });
</script>
