---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/_ui/PageHeader.astro";
import HoneycombIntegrationForm from "@/components/integrations/forms/HoneycombIntegrationForm.vue";
---

<BaseLayout
  title="Honeycomb OpenTelemetry integration · Reliably"
  description="Send your executions OpenTelemetry traces to Honeycomb"
>
  <div class="container">
    <PageHeader
      title="Honeycomb OpenTelemetry integration"
      icon="honeycomb-mark"
    />
    <section class="newIntegration">
      <p class="newIntegration__intro">
        Fill the form with the requested information, to create an integration
        that you can then use in your plans.
      </p>
      <section class="newIntegration__form">
        <div class="newIntegration__info">
          <div
            class="newIntegration__infoWrapper newIntegration__infoWrapper--opentelemetry"
          >
            <p>Send executions traces to Honeycomb.</p>
          </div>
        </div>
        <HoneycombIntegrationForm client:load />
      </section>
    </section>
  </div>
</BaseLayout>
