---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/_ui/PageHeader.astro";
import ReliablyAssistantIntegrationForm from "@/components/integrations/forms/ReliablyAssistantIntegrationForm.vue";
---

<BaseLayout
  title="OpenAI GPT integration · Reliably"
  description="Get tips and advice on your reliability and experiments"
>
  <div class="container">
    <PageHeader
      title="Reliably Assistant integration"
      icon="reliably-assistant"
    />
    <section class="newIntegration">
      <p class="newIntegration__intro">
        Fill the form with the requested information, to create an integration
        that you can then use in your plans.
      </p>
      <section class="newIntegration__form">
        <div class="newIntegration__info">
          <div
            class="newIntegration__infoWrapper newIntegration__infoWrapper--assistant"
          >
            <p>Let the Assistant write experiments for you.</p>
            <p>
              Ask a question, and Reliably Assistant will create a full
              experiment. Fill in some required parameters and you're good to
              go. Run it as-is or edit it in the builder for additional
              fine-tuning.
            </p>
            <p>
              Using Reliably Assistant requires an OpenAI key, as the Assistant
              uses ChatGPT-4 Turbo in the background, to provide reliable
              results in a reasonable amount of time.
            </p>
            <p>
              <a
                href="https://reliably.com/docs/features/assistant/"
                target="_blank"
                rel="noopener noreferer"
              >
                Read the documentation about this integration's requirements and
                limitations
              </a>
            </p>
          </div>
        </div>
        <ReliablyAssistantIntegrationForm client:load />
      </section>
    </section>
  </div>
</BaseLayout>
