---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/_ui/PageHeader.astro";
import SnapshotGcpForm from "@/components/integrations/forms/SnapshotGcpForm.vue";
---

<BaseLayout
  title="GCP Snapshot integration · Reliably"
  description="Generate snapshots from your GCP organization"
>
  <div class="container">
    <PageHeader
      title="GCP Snapshot integration"
      icon="google-cloud-logo"
    />
    <section class="newIntegration">
      <p class="newIntegration__intro">
        Fill the form with the requested information, to create an integration
        that you can then use in your plans.
      </p>
      <section class="newIntegration__form">
        <div class="newIntegration__info">
          <div
            class="newIntegration__infoWrapper newIntegration__infoWrapper--opentelemetry"
          >
            <p>Generate snapshots from your GCP organization.</p>
          </div>
        </div>
        <SnapshotGcpForm client:load />
      </section>
    </section>
  </div>
</BaseLayout>
