---
import { Icon } from "astro-icon";
---

<div class="pricing-plan pricing-plan--enterprise">
  <h2 class="pricing-plan__name">Enterprise</h2>
  <p class="pricing-plan__price pricing-plan__price--special">
    Optional On-Prem and Private Cloud
  </p>
  <p class="pricing-plan__description">
    Everything. Everywhere.<br />
    All at once.
  </p>
  <ul class="pricing-plan__features-list list-reset">
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> Team Members
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> Custom Executions
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          Those are experiments you run<br />
          in your own environment,<br />
          such as a CI/CD pipeline.
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> GitHub Executions
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          Experiments you run as GitHub Actions.<br />
          Additional billing from GitHub might occur<br />
          depending on usage.
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> Cloud Executions per Month
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          Experiments you run in Reliably Cloud.
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>60</strong> minutes Cloud Execution Limit
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          Maximum duration for an experiment<br /> you run in Reliably Cloud.
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> Custom Experiments
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          Import your own Chaos Toolkit experiments
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> Custom Templates
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>Unlimited</strong> Concurrent Execution
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      <strong>24 months</strong> Retention
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          Unlimited with optional<br />
          On-Premises installation
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      3rd Party Integrations
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      Email Support
      <span class="featureHelp">
        <Icon name="info" />
        <span class="featureHelp__tip">
          9/5 CET on week days.<br /> Optional support SLA available
        </span>
      </span>
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      Private SaaS and On-Prem Installation
    </li>
    <li class="pricing-plan__feature">
      <Icon name="check" />
      Support SLA
    </li>
  </ul>
  <div class="pricing-plan__action">
    <a href="https://reliably.com/contact" class="button button--large">
      Contact us
    </a>
  </div>
</div>
