:root {
  --yellow-100: hsl(56, 100%, 95%);
  --yellow-200: hsl(56, 95%, 89%);
  --yellow-300: hsl(56, 93%, 80%);
  --yellow-400: hsl(56, 92%, 70%);
  --yellow-500: hsl(56, 91%, 49%);
  --yellow-600: hsl(56, 94%, 40%);
  --yellow-700: hsl(56, 95%, 25%);
  --yellow-800: hsl(56, 97%, 16%);
  --yellow-900: hsl(56, 100%, 10%);

  --pink-100: hsl(329, 100%, 95%);
  --pink-200: hsl(329.21, 97.44%, 84.71%);
  --pink-300: hsl(328.8, 96.9%, 74.71%);
  --pink-400: hsl(329.13, 96.65%, 64.9%);
  --pink-500: hsl(329, 97%, 55%);
  --pink-600: hsl(329.13, 79%, 42.94%);
  --pink-700: hsl(328.8, 79.62%, 30.78%);
  --pink-800: hsl(329.21, 79.17%, 18.82%);
  --pink-900: hsl(328.89, 81.82%, 6.47%);

  --green-100: hsl(149, 100%, 95%);
  --green-200: hsl(149, 99%, 85%);
  --green-300: hsl(149, 98%, 60%);
  --green-400: hsl(149, 97%, 45%);
  --green-500: hsl(149, 97%, 35%);
  --green-600: hsl(149, 98%, 30%);
  --green-700: hsl(149, 98%, 23%);
  --green-800: hsl(149, 99%, 14%);
  --green-900: hsl(149, 100%, 6%);

  --blue-100: hsl(209, 100%, 85%);
  --blue-200: hsl(209, 98%, 75%);
  --blue-300: hsl(209, 98%, 65%);
  --blue-400: hsl(209, 97%, 55%);
  --blue-500: hsl(209, 97%, 45%);
  --blue-600: hsl(209, 97%, 33%);
  --blue-700: hsl(209, 98%, 22%);
  --blue-800: hsl(209, 99%, 12%);
  --blue-900: hsl(209, 100%, 8%);
  --docsTextColor: hsl(208, 70%, 87%);
  --docsTextColorBright: hsl(209, 100%, 93%);

  --grey-100: hsl(220, 27.27%, 97.84%);
  --grey-200: hsl(230, 25%, 95.29%);
  --grey-300: hsl(232.5, 22.22%, 92.94%);
  --grey-400: hsl(234.55, 22.45%, 90.39%);
  --grey-500: hsl(231.43, 22.58%, 87.84%);
  --grey-600: hsl(234.55, 7.19%, 70%);
  --grey-700: hsl(232.5, 3.25%, 51.76%);
  --grey-800: hsl(240, 2.89%, 33.92%);
  --grey-900: hsl(240, 3.7%, 15.88%);

  --gray-100: var(--grey-100);
  --gray-200: var(--grey-200);
  --gray-300: var(--grey-300);
  --gray-400: var(--grey-400);
  --gray-500: var(--grey-500);
  --gray-600: var(--grey-600);
  --gray-700: var(--grey-700);
  --gray-800: var(--grey-800);
  --gray-900: var(--grey-900);

  --homeHeroBackground: hsl(330, 33.3%, 95.3%);
}
